#### 1. Select all columns from a table

SELECT * FROM employees;

#### 2. Select specific columns

SELECT first_name, last_name, salary FROM employees;

#### 3. Filtering with WHERE

SELECT * FROM employees WHERE salary > 50000;

#### 4. Using AND/OR ##

SELECT * FROM employees 
WHERE salary > 50000 AND department_id = 10;

#### 5. ORDER BY
##### Explanation: Sorts employees by salary in descending order.
SELECT first_name, salary FROM employees 
ORDER BY salary DESC;

#### 6. LIMIT / TOP 
##### Explanation: Fetches the top 5 highest-paid employees. (In SQL Server, use TOP 5.)

SELECT * FROM employees 
ORDER BY salary DESC
LIMIT 5;

#### 7. DISTINCT
##### Explanation: Shows unique department IDs.

SELECT DISTINCT department_id FROM employees;

#### 8. COUNT, SUM, AVG

SELECT COUNT(*) AS total_employees,
       SUM(salary) AS total_salary,
       AVG(salary) AS average_salary
FROM employees;

#### 9. GROUP BY

SELECT department_id, AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id;

#### 10. HAVING (filter on aggregates)

SELECT department_id, AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id
HAVING AVG(salary) > 60000;

#### 11. JOIN (INNER)

SELECT e.first_name, e.last_name, d.department_name
FROM employees e
JOIN departments d ON e.department_id = d.department_id;

#### 12. LEFT JOIN

SELECT e.first_name, d.department_name
FROM employees e
LEFT JOIN departments d ON e.department_id = d.department_id;

#### 13. RIGHT JOIN

SELECT e.first_name, d.department_name
FROM employees e
RIGHT JOIN departments d ON e.department_id = d.department_id;

#### 14. FULL OUTER JOIN

SELECT e.first_name, d.department_name
FROM employees e
FULL OUTER JOIN departments d ON e.department_id = d.department_id;

#### 15. String concatenation

SELECT first_name || ' ' || last_name AS full_name
FROM employees;

#### 16. CASE statement

SELECT first_name, salary,
       CASE 
           WHEN salary > 70000 THEN 'High'
           WHEN salary > 50000 THEN 'Medium'
           ELSE 'Low'
       END AS salary_grade
FROM employees;

#### 17. IN / NOT IN

SELECT * FROM employees
WHERE department_id IN (10, 20, 30);

#### 18. BETWEEN

SELECT * FROM employees
WHERE salary BETWEEN 50000 AND 70000;

#### 19. IS NULL / IS NOT NULL

SELECT * FROM employees
WHERE manager_id IS NULL;

#### 20. Subquery

SELECT first_name, salary
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);